<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 pl-5">
      <ul class="social">
        <li class="btn btn-top-left"><a href="">1</a></li>
        <li class="btn btn-top-middle"><a href="">2</a></li>
        <li class="btn btn-top-right"><a href="">3</a></li>
      </ul>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 pl-5">
      <ul class="social">
        <li class="btn btn-middle-left"><a href="">4</a></li>
        <li class="btn btn-middle-right"><a href="">5</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 pl-5">
      <ul class="social">
        <li class="btn btn-down">
          <a class="text-dark" href="">texto del boton</a>
        </li>
      </ul>
    </div>
  </div>
</div>
