<!--<table class="table" align="center">
  <tbody>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-outline-primary btn-lg">
          <img src="../assets/administrativos.jpg" class="image" />
          <p class="text">Administrativos</p>
        </button>
      </th>
      <th scope="row">
        <button type="button" class="btn btn-outline-primary btn-lg">
          <img src="../assets/monitor.jpg" class="image" />
          <p class="text">Monitor de Paquete Fiscal 2021</p>
        </button>
      </th>
      <th scope="row">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg"
          [routerLink]="['/diamante']"
          routerLinkActive="router-link-active"
        >
          <img src="../assets/cuadros.jpg" class="image" />
          <p class="text">
            Cuadros y Anexos de Ley
          </p>
        </button>
      </th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-outline-primary">
          <img src="../assets/direccion.jpg" class="image" />
          <p class="text">Dirección de Regulación Presupuestal</p>
        </button>
      </th>
      <th scope="row">
        <button type="button" class="btn btn-outline-primary">
          <img src="../assets/control.jpg" class="image" />
          <p class="text">Dirección de Control Presupuestal</p>
        </button>
      </th>
      <th scope="row">
        <button
          type="button"
          class="btn btn-outline-primary"
          [routerLink]="['/diamante']"
          routerLinkActive="router-link-active"
        >
          <img src="../assets/analisis.jpg" class="image" />
          <p class="text">
            Dirección de analisis y seguimiento al gasto
          </p>
        </button>
      </th>
    </tr>
  </tbody>
</table>
-->
<!--
<div>
  <p></p>
  <p></p>
</div>
<div class="container p-3 my-3" align="center">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-lg">
      <img src="../assets/administrativos.jpg" class="image" />

      <p class="text">
        &nbsp;&nbsp;Administrativos &nbsp; &nbsp;
      </p>
    </button>

    <button type="button" class="btn btn-outline-primary btn-lg">
      <img src="../assets/monitor.jpg" class="image" />
      <p class="text">
        &nbsp;&nbsp;Monitor de Paquete Fiscal 2021 &nbsp;&nbsp;
      </p>
    </button>

    <button type="button" class="btn btn-outline-primary btn-lg">
      <img src="../assets/cuadros.jpg" class="image" />
      <p class="text">
        &nbsp;Cuadrosy Anexos de Ley &nbsp;
      </p>
    </button>
  </div>
</div>

<div class="container p-3 my-3" align="center">
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-lg">
      <img src="../assets/direccion.jpg" class="image" />
      <p class="text">
        Dirección de Regulación Presupuestal
      </p>
    </button>

    <button type="button" class="btn btn-outline-primary btn-lg">
      <img src="../assets/control.jpg" class="image" />
      <p class="text">
        Dirección de Control Presupuestal
      </p>
    </button>

    <button
      type="button"
      class="btn btn-outline-primary btn-lg"
      [routerLink]="['/diamante']"
      routerLinkActive="router-link-active"
    >
      <img src="../assets/analisis.jpg" class="image" />
      <p class="text">Dirección de analisis y seguimiento al gasto Público</p>
    </button>
  </div>
</div>
-->
<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block">
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/administrativos.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Administrativos
            </p>
          </div>
        </div>
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block">
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/monitor.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Monitor de Paquete Fiscal 2021
            </p>
          </div>
        </div>
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block">
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/cuadros.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Cuadros y Anexos de Ley
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block">
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/direccion.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Dirección de Regulación Presupuestal
            </p>
          </div>
        </div>
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-primary btn-block">
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/control.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Dirección de Control Presupuestal
            </p>
          </div>
        </div>
      </button>
    </div>
    <div class="col-md-4">
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        [routerLink]="['/diamante']"
        routerLinkActive="router-link-active"
      >
        <div class="row">
          <div class="col-sm-12">
            <img src="../assets/analisis.jpg" class="img-fluid image" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-inline-block">
            <p class="text-truncate">
              Dirección de análisis y seguimiento al gasto público
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
  <!--div.row*2>div.col-md-4*3-->
</div>
