/* You can add global styles to this file, and also import other style files */
.logotipo-dependencia {
  height: 92px;
  width: 185px;
}
.navbar {
  height: 120px;
}
.navlink:hover {
  background-color: rgb(6, 4, 107);
}

.navbar-custom {
  color: #ffffff;
  background-color: rgb(6, 4, 107);
  height: 50px;
}

.image {
  height: 50px;
  width: 155px;
  margin: 0px;
}

.menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.menu li {
  margin: 2px;
  padding: 2px;
  float: left;
}
